
<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" autocomplete="off">
    <div class="row">

        <div *ngFor="let prop of schema; " class="col">
            <ng-container [ngSwitch]="prop.type">
                <label>{{prop.name | titlecase }}</label>
                
                <ng-container *ngSwitchCase="'string'">
                    <input type="text" class="form-control" [formControlName]="prop.name" [id]="prop.name" />
                </ng-container>

              
                <ng-container *ngSwitchCase="'date'">
                    <input type="date" class="form-control" [formControlName]="prop.name+'__$gte'" />
                    <input type="date" class="form-control" [formControlName]="prop.name+'__$lte'" />
                </ng-container>

                
                <ng-container *ngSwitchCase="'number'">
                    <input type="number" class="form-control" [formControlName]="prop.name+'__$gte'" />
                </ng-container>
            </ng-container>
        </div>

    </div>

        <button type="submit" class="btn btn-primary" >Search</button>
 
</form>


<ng-container *ngIf="query">
    <h3>query</h3>
    <pre class="code">{{query|json}}</pre>
</ng-container>

