<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-8">
            <div class="card">
                <div class="card-body">
                    <div class="pos-product-screen">
                        <div class="title-header">
                            <div class="d-flex align-items-center">
                                <h5 *ngIf="type=='create'">{{ 'create' | translate }}</h5>
                                <h5 *ngIf="type=='edit'">{{ 'edit' | translate }}</h5>
                            </div>
                        </div>


                        <form class="theme-form theme-form-2 mega-form" [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">

                            <div class="row g-sm-4 g-3">
                                <div class="col-sm-6">
                                    <app-form-fields [label]="'name'" [for]="'name'" [required]="true">
                                        <input class="form-control" type="text" placeholder="{{ 'name' | translate }}"
                                            name="name" formControlName="name">
                                        <div class="invalid-feedback"
                                            *ngIf="form.controls['name'].touched && form.controls['name'].errors?.['required']">
                                            {{ 'required' | translate }}
                                        </div>
                                    </app-form-fields>
                                </div>
                                <div class="col-sm-6">
                                    <app-form-fields [label]="'type'" [for]="'type'" [required]="true">
                                        <select2 class="custom-select"
                                            [data]="(types$ | async)?.length ? (types$ | async) : []"
                                            [placeholder]="'select_type' | translate" formControlName="type" resettable>
                                        </select2>
                                    </app-form-fields>
                                </div>
                            </div>
                            <div class="row g-sm-4 g-3">
                                <div class="col-sm-12">
                                    <app-form-fields [label]="'status'" [for]="'status'" [required]="false">
                                        <div class="form-check form-switch ps-0">
                                            <label class="switch">
                                                <input type="checkbox" id="status" formControlName="status">
                                                <span class="switch-state"></span>
                                            </label>
                                        </div>
                                    </app-form-fields>
                                </div>
                            </div>

                            <div class="row g-sm-4 g-3">
                                <div class="col-sm-12">

                                    <div *ngIf="form.get('type')?.value=='QR';else other_content">
                                        <app-qr-form (change)="onQrFormChange($event)"></app-qr-form>
                                    </div>

                                    <ng-template #other_content>
                                        <app-form-fields [label]="'content'" [for]="'content'" [required]="true">
                                            <textarea class="form-control"
                                                placeholder="{{ 'enter_description' | translate }}"
                                                formControlName="content" rows="10"></textarea>

                                            <div class="invalid-feedback"
                                                *ngIf="form.controls['content'].touched && form.controls['content'].errors?.['required']">
                                                {{ 'required' | translate }}
                                            </div>
                                        </app-form-fields>
                                    </ng-template>




                                </div>
                            </div>




                            <!-- <app-form-fields [label]="'file'" [for]="'File'" [required]="false">
                                <app-file-upload [multipleImage]="false" [mediaType]="FILE_TYPE.join(',')" [imageUrl]="(item$ | async)?.url"
                                    (selectedFiles)="selectMetaImage($event)">
                                </app-file-upload>
                            </app-form-fields> -->

                            <app-button [id]="'page_btn'">
                                {{ (type == 'create' ? 'create' : 'update') | translate }}
                            </app-button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-xxl-4">
            <div class="card pos-detail-card">
                <div class="card-body">
                    <div class="title-header">
                        <div class="d-flex align-items-center">
                            <h5>{{ 'Preview' | translate }}</h5>
                        </div>
                    </div>
                    <div class="product-details">
                        <app-no-data [class]="'empty-cart'" [image]="'assets/svg/empty-cart.svg'"
                            [text]="'No items in a cart'"
                            *ngIf="content==undefined||content?.value===''||content?.value===null">
                        </app-no-data>


                        <div class="empty-cart">

                            <ng-container *ngIf="form.get('type')?.value=='QR'">
                                <blinked-qr #qrcode [config]="contentJson"></blinked-qr>
                            </ng-container>

                            <ng-container *ngIf="form.get('type')?.value=='SVG_FRAMES'">
                                <div class="empty-cart" style="margin:auto;width: 200px;" [innerHTML]="svg"></div>
                                <!-- <svg>
                                   {{form.get('content')?.value}}
                                </svg> -->
                            </ng-container>


                        </div>
                    </div>
                    <!-- <ul class="summary-total" *ngIf="(cartItem$ | async)?.length">
                        <li>
                            <h4>{{ 'subtotal' | translate }}</h4>
                            <h4 class="price">{{ (cartTotal$ | async) | currencySymbol}}</h4>
                        </li>
                       
                        <li class="list-total">
                            <h4>{{ 'total' | translate }}</h4>
                            <h4 class="price">{{ (cartTotal$ | async) | currencySymbol}}</h4>
                        </li>
                    </ul> -->
                    <ng-container *hasPermission="'order.create'">
                        <a [routerLink]="['/order/checkout']" routerLinkActive="router-link-active"
                            class="btn btn-animation payment-btn mt-4">
                            {{ 'proceed_to_checkout' | translate }}
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>